
  .column {
    float: left;
    width: 30%;
    padding: 0px;
  }

  /* Clear floats after image containers */
  .row::after {
    clear: both;
    display: table;
  }

  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: white;
    border-radius: 3px;
    background: #f1f1f1;
    height: 30px;
  }

  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  /* Set a style for the submit/register button */
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  .registerbtn:hover {
    opacity:1;
  }

  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }

  .block {
    display: block;
    width: 100%;
    border: none;
    background-color: #1E90FF;
    padding: 1px 1px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
  }

  .col-75 {
    display: flex;
    justify-content: center;
  }

  .container {
    background-color: rgba(255, 255, 255, 0.0);
    padding: 5px 20px 15px 20px;
    border: none;
    border-radius: 3px;
    color: #a4afcf;

  }

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }

  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }

  @media (max-width: 500px) {
    .col-75 {
      flex-direction: column;
      align-items: center;
    }

      .container {
        width: 100%;
      }
    }

  .round-button {
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #1E90FF;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
  }

  .custom-file-label::after {
    content: "Choose file";
    background-color: #a4afcf;
    border: 1px solid black;
    padding: 6px 10px;
    border-radius: 4px;
    color: #000;
    font-weight: bold;
  }

  .rounded-square-lobby {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  .rounded-square {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  .navbar {
    background-color: #1E90FF;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0;
    z-index: 9999;
  }


  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: black;
    color: white;
  }

  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }

  .checked {
    color: orange;
  }

  .search-container {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .search-container input[type=text] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  .search-container .search-results {
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    z-index: 1;
  }

  .search-container .search-results ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .search-container .search-results li {
    padding: 10px;
    cursor: pointer;
  }

  .search-container .search-results li:hover {
    background-color: #e9e9e9;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ul li {
    margin-bottom: 5px;
  }

  .form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .form-group label {
    margin-right: 10px;
  }

  input[type=text] {
    /* Apply common styles to all input elements */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 200px; /* Adjust this value to the desired width */
    background-color: #a4afcf;
    /* Add more styles as needed */
  }
  
  input[type=time], input[type=date], input[type=number] {
    border-radius: 4px;
    background-color: #a4afcf;
    border-color: white;
  }

  select {
    border-radius: 4px;
    background-color: #a4afcf;
    border-color: white;
  }

  .user-content {
    display: flex;
    align-items: center;
  }

  .other-content {
    justify-content: flex-end;
    display: flex;
    align-items: center;
  }

  .user-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .other-img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }

  .user-message, .other-message {
    font-size: 16px;
  }

  .user-container {
    background-color: #a4afcf;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
  }

  .other-container {
    background-color: #f5f5f5;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
  }

  .time-user {
    display: flex;
    align-items: left;
    font-size: 11px;
  }

  .time-other {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    font-size: 11px;
  }

  .container-messages {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0;
    position: sticky;
    max-height: calc(70vh - 20px); /* Subtract any desired margin/padding */
    overflow-y: auto;
    /* Additional styling */
    width: 100%;
    padding: 5px;
    
  }

  .input-container {
    background-color: #a4afcf;
    padding: 10px;
    border: none; 
    display: flex;
    margin-bottom: 30px;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 100%;
  }

  .message-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 3px;
  }

  .icon {
    display: inline-block;
    position: relative;
    font-size: 50px;
  }
  
  .number {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: gold;
    color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    z-index: 1;
  }
  
  .fa-star {
    color: gold;
    position: relative;
    display: block;
    margin: 0 auto;
  }

  .list-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 500px;
    color: #a4afcf;
  }
  
  .list-group-item {
    display: block;
    padding: 0.8rem;
    color: #333;
    text-decoration: none;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-color: #a4afcf;
  }
  
  .list-group-item.active {
    background-color: #a4afcf;
    border-color: #000000;
    color: #000;
  }
  
  .list-group-item:hover {
    background-color: #e9ecef;
  }
  
  .list-group-item .mb-1 {
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
    line-height: 1.1;
    letter-spacing: 0.05rem;
  }
  
  .list-group-item small {
    font-size: 0.9rem;
    color: #777;
    margin-left: 40px;
  }
  
  .list-group-item h5 {
    margin-bottom: 0.3rem;
    font-size: 1rem;
    line-height: 1.1;
    letter-spacing: 0.05rem;
  }

  .group-info {
    display: flex;
    align-items: center;
  }

  .dropdown {
    position: absolute;
    top: 65px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.0);
  }
  
  .dropdown-menu {
    position: absolute;
    right: 0;
    text-align: right;
    background-color: black;
    border-color: #a4afcf;
  }

  .subdropdown {
    position: static;
    top: 65px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.0);
  }

  .dropdown-item {
    color: #a4afcf;
  
  }
  
  .subdropdown-menu {
    position: absolute;
    top: 150px; /* Adjust this value based on your layout */
    right: 100%; /* Position the submenu to the right of its parent */
    text-align: right;
    background-color: black;
    border-color: #a4afcf;
    width: 100px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid #a4afcf;
    padding: 3px;
  }

  .subdropdown-item {
      display: block;
      color: #a4afcf;
      padding: 3px;
      text-decoration: none;    
  }

  .subdropdown:hover {
    background-color: #ffffff;
  }

  .subdropdown-item:hover {
    color: #000;
    background-color: white;
  }

  
  .message-alert { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin: 5px auto; 
    max-width: 500px;
    padding: 10px;
    background-color: rgba(76, 217, 116, 0.8);
    border-radius: 3px;
    
  }