{% extends "layout.html" %}

{% block title %}
    INVOLVE
{% endblock %}

{% block main %}
<body>
    <div>
        <img src="static/images/getinvolve.png" alt="None" class="site-image">
    </div>
    <div class="video-container">
      <video controls>
        <source src="/static/images/videoinv.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div style="margin-top: 10px;">
      <h1 style="color: #a4afcf;">Register now!</h1>
    </div>

</body>

<div id="navbar" class="navbar navbar-expand-lg navbar-light bg-#1E90FF" style="left: 0; background-image: url('static/images/bacground_bar.jpg'); background-repeat: no-repeat; background-size: cover;">
  <a href="/register"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
  </svg>
</i> Register</a>
  <a href="/login">Log in<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
  </svg></a>
</div>
<style>
  body {
    background-image: url('static/images/bacground_index.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    /* Additional styles if needed */
  }
  .site-image {
  max-width: 100%;
  height: auto;
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%; /* This sets the aspect ratio (16:9) */
    height: 0;
    overflow: hidden;
  }

  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
{% endblock %}
