<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Involve</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    </head>

    <body style="background-image: url('static/images/bacground_index.jpg'); background-repeat: repeat-y; background-size: cover; margin-bottom: 70px;">

      <div style="background-image: url('static/images/bacground_bar.jpg'); background-repeat: no-repeat; background-size: cover; padding: 10px; text-align: center;">
        <a href="/">
          <img src="/static/images/logo.png" style="max-width: 100%; height: 75px; padding: 10px 10px;">
        </a>
      </div>


        <main class="container-fluid py-5 text-center">
            {% block main %}{% endblock %}
        </main>

    </body>

</html>
