{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}

      <form id="login-form" action="/login" method="post">

          <div class="container">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit" style="background-image: linear-gradient(to bottom, #1E90FF, #007FFF);
            border-radius: 20px;
            padding: 10px 20px;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            border: none;">Login</button>
            <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
          </div>

          <div class="container" style="background-color:#f1f1f1">
            <span class="psw">Forgot <a href="#">password?</a></span>
          </div>
        </form>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
          <div class="container">
              {% for message in messages %}
          <div class="alert alert-danger">{{ message }}</div>
              {% endfor %}
          </div>
          {% endif %}
        {% endwith %}

{% endblock %}